dockerized-node-app/node_modules/
dockerized-react-app/node_modules/
# dockerized-node-app/.env
dockerized-node-app/dist/
dockerized-node-app/build/
dockerized-react-app/public/
.DS_Store
*.log
coverage/
*.swp
*.bak
